<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor's Corner</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script src="./lessons.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>

  <body>
    <div id="app">
      <div class="nav">
        <div class="logo">{{logo}}</div>
        <div>
          <!-- <input type="search" v-on:keyup="" v-model=""  v-show="displayProducts" placeholder="Search" /> -->
        </div>
        <div>
          <button v-on:click="toggleCartPage" :disabled="cart.length === 0">
            <i class="fa-sharp fa fa-cart-shopping" style="color: #ff9238"
              >{{cartCount}}</i
            >
          </button>
          <!-- <button>
            <i class="fa-sharp fa fa-cart-shopping" style="color: #ff9238"></i>
          </button> -->
        </div>
      </div>
      <div v-if="displayProducts" class="mainContainer">
        <div class="sortBar">
          <!-- Filter products -->
          <div class="filterContainer">
            <h3>Sort By:</h3>
            <div>
              <input
                type="radio"
                v-model="sort.sortBy"
                id="subject"
                value="subject"
                name="radio"
              />
              <label for="subject">Subject</label>
            </div>
            <div>
              <input
                type="radio"
                v-model="sort.sortBy"
                id="location"
                value="location"
                name="radio"
              />
              <label for="location">Location</label>
            </div>
            <div>
              <input
                type="radio"
                v-model="sort.sortBy"
                id="price"
                value="price"
                name="radio"
              />
              <label for="price">Price</label>
            </div>
            <div>
              <input
                type="radio"
                v-model="sort.sortBy"
                id="availability"
                value="availability"
                name="radio"
              />
              <label for="availability">Availability</label>
            </div>
            <div>
              <input
                type="radio"
                v-model="sort.sortBy"
                id="category"
                value="category"
                name="radio"
              />
              <label for="category">Category</label>
            </div>
          </div>

          <!-- Order filter by ascending or descending -->
          <div class="orderContainer">
            <h3>Order By:</h3>
            <div>
              <input
                type="radio"
                v-model="sort.orderBy"
                id="ascending"
                value="ascending"
                name="radio2"
              />
              <label for="ascending">Ascending</label>
            </div>
            <div>
              <input
                type="radio"
                v-model="sort.orderBy"
                id="descending"
                value="descending"
                name="radio2"
              />
              <label for="descending">Descending</label>
            </div>
          </div>
        </div>

        <!-- Display all products -->
        <div
          v-for="product in sortedProductList"
          :key="product.id"
          class="allProducts"
        >
          <div class="card">
            <div class="cardImgContainer">
              <img v-bind:src="product.imagePath" alt="product.subject" />
            </div>
            <div class="cardContent">
              <h4>Subject: {{products.subject}}</h4>
              <h4>Location: {{products.location}}</h4>
              <h4>Price: £{{products.price}}</h4>
              <h4>Availability: {{products.availability}}</h4>
              <h4>Category: {{products.category}}</h4>

              <!-- Add to cart button -->
              <button
                v-on:click="add-to-cart(product)"
                :disabled="product.availability === 0"
              >
                Add to cart
              </button>
            </div>
          </div>
        </div>
      </div>

      <div v-else>
        <!-- Cart items page -->
      </div>
    </div>

    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          products: products,
          logo: "Tutor's Corner",

          displayProducts: true,

          // Cart
          cart: [],
          sort: {
            sortBy: "subject",
            orderBy: "ascending",
          },
        },

        //  methods: {

        //  },

        computed: {
          // Returns length of the cart items and an empty string if cart is empty
          cartCount: () => {
            return this.cart.length || "";
          },

          sortedProductList() {
            return this.products.sort((a, b) => {
              const order = this.orderBy === "asc" ? 1 : -1;
              return a[this.sortBy] > b[this.sortBy] ? order : -order;
            });
          },
        },
      });
    </script>
  </body>
</html>
